# dictionary:

Syntax:


```python
{
    key: value
}
```

In [3]:
d = {} # empty dictionary

In [4]:
type(d)

dict

In [5]:
d = dict() # empty dictionary

In [6]:
type(d)

dict

In [7]:
{
    1.2: "one point two"
}

{1.2: 'one point two'}

In [8]:
# list tuple set are not allowed as keys

{
    [1,2]: 40
}

TypeError: unhashable type: 'list'

In [9]:
# dictionary with keys name and age, and values kshitiz and 25
{
    'name': 'Kshitiz',
    'age': 25
}

{'name': 'Kshitiz', 'age': 25}

# Accessing dictionary items and add key value pair in  dictionary

In [10]:
info = dict()

In [11]:
info

{}

In [15]:
info['name'] = 'kshitiz Regmi' # add key value pair on dictionary

In [16]:
info

{'name': 'kshitiz Regmi'}

In [17]:
info.update({'teaches': ['Python', "Data Science", "ML", 'AI', 'Deep learning']})

In [18]:
info

{'name': 'kshitiz Regmi',
 'teaches': ['Python', 'Data Science', 'ML', 'AI', 'Deep learning']}

In [19]:
info['teaches']

['Python', 'Data Science', 'ML', 'AI', 'Deep learning']

In [20]:
info.update({'name': "KSHITIZ REGMI"}) # if key exist update the value

In [21]:
info

{'name': 'KSHITIZ REGMI',
 'teaches': ['Python', 'Data Science', 'ML', 'AI', 'Deep learning']}

In [23]:
info['teaches'] # access the values of key teaches

['Python', 'Data Science', 'ML', 'AI', 'Deep learning']

In [24]:
info.get('teaches') # access the values of key teaches

['Python', 'Data Science', 'ML', 'AI', 'Deep learning']

In [27]:
broadway = {
    'location': "Tinkune"
}

In [28]:
broadway

{'location': 'Tinkune'}

In [29]:
broadway.update({'class': 'Python'})

In [30]:
broadway

{'location': 'Tinkune', 'class': 'Python'}

In [31]:
broadway.get('location')

'Tinkune'

In [32]:
broadway['location']

'Tinkune'

# .keys() and .values() method in dictionary

In [40]:
country = {
    'Nepal': "Kathmandu",
    'India': "New Delhi",
    'Bangladesh': "Dhaka",
    'Bhutan': 'Thimpu'
}

In [41]:
country.keys()

dict_keys(['Nepal', 'India', 'Bangladesh', 'Bhutan'])

In [42]:
country.values()

dict_values(['Kathmandu', 'New Delhi', 'Dhaka', 'Thimpu'])

In [43]:
country.items()

dict_items([('Nepal', 'Kathmandu'), ('India', 'New Delhi'), ('Bangladesh', 'Dhaka'), ('Bhutan', 'Thimpu')])

In [45]:
list(country.items())

[('Nepal', 'Kathmandu'),
 ('India', 'New Delhi'),
 ('Bangladesh', 'Dhaka'),
 ('Bhutan', 'Thimpu')]

In [46]:
list(country.items())[0]

('Nepal', 'Kathmandu')

# looping in dictionary

In [47]:
country = {
    'Nepal': "Kathmandu",
    'India': "New Delhi",
    'Bangladesh': "Dhaka",
    'Bhutan': 'Thimpu'
}

In [51]:
for item in country:
    print(item, country.get(item))

Nepal Kathmandu
India New Delhi
Bangladesh Dhaka
Bhutan Thimpu

In [49]:
for cou, cap in country.items():
    print(f"Counrty = {cou} and capital is {cap}")

Counrty = Nepal and capital is Kathmandu
Counrty = India and capital is New Delhi
Counrty = Bangladesh and capital is Dhaka
Counrty = Bhutan and capital is Thimpu

In [53]:
(1, 5)

(1, 5)

In [54]:
a, b = (1, 5)

In [55]:
a

1

In [56]:
b

5

# .pop()

In [57]:
country = {
    'Nepal': "Kathmandu",
    'India': "New Delhi",
    'Bangladesh': "Dhaka",
    'Bhutan': 'Thimpu'
}

In [59]:
country.pop("Bhutan")

'Thimpu'

In [60]:
country

{'Nepal': 'Kathmandu', 'India': 'New Delhi', 'Bangladesh': 'Dhaka'}

# dictionary comprehension

In [61]:
data = {"one": 1, 'two': 2, 'three': 3}

In [62]:
data

{'one': 1, 'two': 2, 'three': 3}

In [65]:
{val:key for key, val in data.items()}

{1: 'one', 2: 'two', 3: 'three'}

# nested dictionary

In [71]:
child = {
    'child1': {'name': 'Hari', 'age': 45, 'gender': 'M'},
    'child2' : {'name': "Ram", 'student': True, 'age': 18, 'gender': 'M'}
}

In [72]:
child

{'child1': {'name': 'Hari', 'age': 45, 'gender': 'M'},
 'child2': {'name': 'Ram', 'student': True, 'age': 18, 'gender': 'M'}}

In [73]:
child['child2']

{'name': 'Ram', 'student': True, 'age': 18, 'gender': 'M'}

In [74]:
child['child2']['name']

'Ram'

In [75]:
child['child2']['student']

True

In [76]:
child.get('child2').get('student')

True