# list -- collection of item under one variable name

In [1]:
cars = ['Mercedes', 'BMW', "Audi"]

In [2]:
cars

['Mercedes', 'BMW', 'Audi']

In [3]:
type(cars)

list

# Creating empty list in python

In [4]:
empty_list = [] # empty list

In [5]:
empty_list

[]

In [6]:
type(empty_list)

list

In [9]:
new_empty_list = list() # create empty list using list() constructor

In [10]:
type(new_empty_list)

list

In [11]:
new_empty_list

[]

# list can store mutliple data type

In [12]:
list1 = [1, 1.6, True, "computer"]

In [13]:
list1

[1, 1.6, True, 'computer']

# indexing and slicing in list

In [14]:
cars = ['BMW', 'Mercedes', "Audi", 'Nissan', 'Tata', 'Tesla']

In [15]:
cars

['BMW', 'Mercedes', 'Audi', 'Nissan', 'Tata', 'Tesla']

In [16]:
cars[0] # indexing

'BMW'

In [22]:
type(cars)

list

In [21]:
type(cars[0])

str

In [17]:
cars[5] # indexing

'Tesla'

In [18]:
cars[3] # indexing

'Nissan'

In [19]:
cars[2:] # slicing

['Audi', 'Nissan', 'Tata', 'Tesla']

In [20]:
cars[2:5] # slicing

['Audi', 'Nissan', 'Tata']

# Negative indexing

In [23]:
cars = ['BMW', 'Mercedes', "Audi", 'Nissan', 'Tata', 'Tesla']

In [24]:
cars[-1] # negative indexing

'Tesla'

In [25]:
cars[-2]

'Tata'

In [26]:
cars[-6]

'BMW'

# loops in python list

In [27]:
cars = ['BMW', 'Mercedes', "Audi", 'Nissan', 'Tata', 'Tesla']

for index in range(len(cars)):
    car_name = cars[index]
    print(f"The index value is {index} and the car name is {car_name}")

The index value is 0 and the car name is BMW
The index value is 1 and the car name is Mercedes
The index value is 2 and the car name is Audi
The index value is 3 and the car name is Nissan
The index value is 4 and the car name is Tata
The index value is 5 and the car name is Tesla

# Alternative for loop

In [28]:
cars = ['BMW', 'Mercedes', "Audi", 'Nissan', 'Tata', 'Tesla']
for item in cars:
    print(item)

BMW
Mercedes
Audi
Nissan
Tata
Tesla

# WAP a program to find mean of given list

In [29]:
nums = [1,22,1,6,2,3,11,0,9]
sum(nums)/len(nums)

6.111111111111111

In [36]:
total = 0
for index in range(len(nums)):
    item = nums[index]
    total = total + item
    
mean = total/len(nums)
round(mean, 2)

6.11

In [37]:
total = 0
for item in nums:
    total = total + item
    
mean = total/len(nums)
round(mean, 2)

6.11

# Membership operator in python ( in and not in are membership operators)

In [38]:
cars = ['BMW', 'Mercedes', "Audi", 'Nissan', 'Tata', 'Tesla']

In [39]:
"Tata" in cars

True

In [40]:
"Fortuner" in cars

False

In [41]:
"Fortuner" not in cars

True