# CRUID in databse

* create
* read
* update
* Insert
* Delete

# Connect and Create a New Database

In [1]:
import sqlite3

In [2]:
con = sqlite3.connect('std.db')

# we need cursor to execute sql query

In [4]:
cur = con.cursor()

# Creating table in SQL


```sql

create table table_name 
(roll_no int, name varchar(20), address varchar(50)
```

In [7]:
create_table = """
Create table student
(roll_no int not null, 
name varchar(20), 
address varchar (50))
"""

In [8]:
cur.execute(create_table)

# Insert statement in sql

```sql
INSERT INTO TABLE (COL_1, COL_2 ... COL_N)
VALUES
(VAL_1, VAL_2, ... , VAL_N)
```

In [11]:
insert_data = """
Insert into student 
(roll_no, name, address)
values
(1, 'Kshitiz', 'Patan'),
(2, 'Prakash', 'Kathmandu'),
(3, 'Shraddha', 'Bhaktapur')
"""

In [12]:
cur.execute(insert_data)

# Read in SQL/ Select statement in sql

```sql

Select * from table_name

```

In [13]:
read_query = """
select * from student
"""

In [14]:
cur.execute(read_query)

In [15]:
cur.execute(read_query).fetchall()

[(1, 'Kshitiz', 'Patan'),
 (2, 'Prakash', 'Kathmandu'),
 (3, 'Shraddha', 'Bhaktapur')]

In [16]:
query = """
select name from student
where roll_no = 2
"""

In [17]:
cur.execute(query).fetchall()

[('Prakash',)]

In [19]:
cur.execute("select name from student where roll_no = 1").fetchall()

[('Kshitiz',)]

In [20]:
# find name of people who lives in patan

In [25]:
cur.execute("SeLect name, roll_no from student where address = 'Patan'").fetchall()

[('Kshitiz', 1)]

# Update in SQL

```sql

update table_name
set col_name = val
where 
condition1

```

In [26]:
query = """
update student
set name = 'Kshitiz Regmi'
where 
roll_no = 1
"""

In [27]:
cur.execute(query)

In [28]:
cur.execute("select * from student").fetchall()

[(1, 'Kshitiz Regmi', 'Patan'),
 (2, 'Prakash', 'Kathmandu'),
 (3, 'Shraddha', 'Bhaktapur')]

# Delete in SQL

In [30]:
cur.execute("delete from student where roll_no = 1")

In [32]:
cur.execute("select * from student").fetchall()

[(2, 'Prakash', 'Kathmandu'), (3, 'Shraddha', 'Bhaktapur')]